/* global styles */

html {
  font-size: 62.5%;
}
:root {
  /* colorr */
  --clr-black: #000000;
  --clr-ash: #626262;
  --clr-white: #ffffff;
  /* Font Weight */
  --fw-lg: 700;
  --fw-regu: 400;
  --fw-light: 300;

  /* Font Family */
  --ff-playfair: "Playfair Display", serif;
  --ff-ubuntu: "Ubuntu", sans-serif;

  /* Font Size */
  --f-size-base: 1.6rem;
  /* Text Transform */
  --text-transform: uppercase;
  /* Spacing */
  --mb-40: 4rem;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--clr-white);
  color: #626262;
  font-family: var(--ff-playfair);
  font-size: var(--f-size-base);
  font-weight: var(--fw-regu);
}
img {
  width: 100%;
  display: block;
}
.container {
  overflow: hidden;
  width: 80%;
  margin: 0 auto;
}
/* Header Css */
.header {
  padding: 1.5rem 0;
  border-bottom: 1px solid var(--clr-ash);
}
.banner-container {
  margin: 0 auto;
  overflow: hidden;
  width: 90%;
}
.logo {
  width: 12%;
  float: left;

  margin-top: 1.3rem;
}
.nav {
  width: 65%;
  float: right;
}
.nav__list {
  display: block;
  float: right;
}
.nav__list-item {
  float: left;
  list-style: none;
}
.nav__list-link {
  margin: 0 5rem;
  padding: 2px 1px 1px;
  display: inline-block;
  color: var(--clr-ash);
  text-transform: var(--text-transform);
  text-decoration: none;

  border-bottom: 1px solid transparent;
  transition: 0.3s;
}
.nav__list-link:last-child {
  margin-right: 0;
}
.nav__list-link:hover {
  border-bottom: 1px solid var(--clr-ash);
}
/* Header End */
/* Perfect Start */
.perfect {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.perfect-content {
}
span {
  margin: 0;
  color: var(--clr-ash);
  font-size: 1.4rem;
  font-family: var(--ff-ubuntu);
  font-weight: var(--fw-light);
  text-transform: var(--text-transform);
  color: #b4ad9e;
}
.primary-title {
  margin-top: 2rem;
  margin-bottom: 3rem;
  color: #626262;
  font-size: 3rem;
  font-family: var(--fw-regu);
  font-weight: var(--fw-lg);
}
.description {
  line-height: 1.6;
}
.mb-40 {
  margin-bottom: var(--mb-40);
}
/* Perfect End */
/* Blog Start */
.single {
  width: 47%;
  float: left;
  margin-top: 7rem;
  margin-bottom: 8rem;
}
.blog-wrapper {
  padding-top: 3.5rem;
}
.blog-img {
  margin-bottom: 2.5rem;
}
.single:nth-child(even) {
  margin-left: 6%;
}
/* Blog End */
/* Newsletter start */
.newsletter {
  padding: 7rem;
  margin-bottom: 8rem;
  background-color: #f0f0f0;
}

.signup-wrap {
  text-align: center;
}
.signup-title {
  margin-top: 0;
  margin-bottom: 70px;
  color: #333333;
}
.signup-form {
  position: relative;
  width: 39%;
  margin: 0 auto;
}
.signup-form input {
  font-family: "Playfair Display", serif;
  font-size: 14px;
  color: #626262;
  width: 86%;
  height: 40px;
  border: none;
  background-color: transparent;
  padding-left: 1%;
  padding-right: 13%;
  border-bottom: 1px solid;
}
.signup-form input:focus {
  outline: 0;
}
.signup-form button {
  position: absolute;
  background: transparent;
  border: none;
  cursor: pointer;
  top: 12px;
  right: 0;
}
.signup_form button:focus {
  outline: 0;
}

/* newsletter End */
/* Load More btn start */
.loadmore {
  padding-bottom: 140px;
}

.btn-load {
  width: 160px;
  height: 55px;
  display: block;
  margin: 0 auto;
  background: transparent;
  cursor: pointer;
}
/* Load more btn end */
/* Footer start */
.footer {
  padding: 30px 0;
  overflow: hidden;
  background-color: #f0f0f0;
}
.container-footer {
  width: 88%;
  margin: 0 auto;
}
.footer-wrapper {
  overflow: hidden;
}
.footer-left {
  float: left;
  padding-left: 7.5%;
}
.footer-left p {
  display: inline-block;
}
.footer-left p a {
  text-decoration: none;
  font-size: 14px;
  color: #000000;
  transform: 0.3s;
}
.footer-left p a:hover {
  border-bottom: 1px solid #626262;
}
.footer-right {
  float: right;
}
.footer-right p {
  font-size: 14px;
  color: #000000;
}
.footer-right p,
a {
  display: inline-block;
}
/* Footer end */
